
      body {
        font: 1.1em sans-serif;
        background-color: #e6f5ff;
      }

      #chart{
        width: 800px;
        margin: 0 auto;
      }
      .background {
        fill: #eee;
      }

      line {
        stroke: #fff;
      }

      text.active {
        fill: red;
      }

      .day {
        fill: #fff;
        stroke: #ccc;
      }

      .month {
        fill: none;
        stroke: #fff;
        stroke-width: 4px;
      }
      .year-title {
        font-size: 1.5em;
      }

      /* colors - green for events, red for cancelled */
      .RdGn .q0{fill:rgba(0,200,0,0.5)}
      .RdGn .q1{fill:rgba(200,0,0,0.5)} 

      /* hover info */
      #tooltip {
      	font-size: 12px;
        background-color: #fff;
        border: 2px solid #ccc;
        padding: 10px;
      }
